@font-face {
   font-family: 'Open Sans';
   src: url('./fonts/OpenSans-Bold.eot');
   src: url('./fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
   url('./fonts/OpenSans-Bold.woff2') format('woff2'),
   url('./fonts/OpenSans-Bold.woff') format('woff'),
   url('./fonts/OpenSans-Bold.ttf') format('truetype'),
   url('./fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: 'Open Sans';
   src: url('./fonts/OpenSans-Regular.eot');
   src: url('./fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
   url('./fonts/OpenSans-Regular.woff2') format('woff2'),
   url('./fonts/OpenSans-Regular.woff') format('woff'),
   url('./fonts/OpenSans-Regular.ttf') format('truetype'),
   url('./fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
   font-weight: normal;
   font-style: normal;
}
body{
    font-family: 'Open Sans';
    width: 100%;
    margin: 0;
    padding: 0;
}

.banner{
    background-image: url(./img/fon_banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    margin: 0;
}
@media (max-width: 640px){
    .banner{
        font-size: 4.8px;
    }
}
@media (min-width: 641px) and (max-width: 960px){
    .banner{
        font-size: 12px;
    }
}
@media (min-width: 961px){
    .banner{
        font-size: 16px;
    }
}
header{
    display: flex;  
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 100%;
}
@media (min-width: 961px){
    header{
        max-width: 1560px;
}
}
@media (max-width: 640px){
    .logo{
        width: 41vw;
        font-size: 21vw;
        margin: -0.8% 2% 33% 0%; 
}
}
@media (min-width: 641px) and (max-width: 960px){
    .logo{
        width: 27vw;
        font-size: 11vw;
        margin: 0.7% 1.7% 17.1% 0.6%;
}
}
@media (min-width: 961px){
    .logo{
        width: 10vw;
        margin-top: 2.8%;
        margin-right: 2.2%;
        margin-bottom: 16.3%;
}
}
.be_recruited{
    color: rgb(255, 255, 255);
    font-weight: bold;
    -moz-transform: matrix( 0.90802474337351,0,0,0.90802474337351,0,0);
    -webkit-transform: matrix( 0.90802474337351,0,0,0.90802474337351,0,0);
    -ms-transform: matrix( 0.90802474337351,0,0,0.90802474337351,0,0);
}
 @media (max-width: 640px){
    .be_recruited{
        font-size: 6.1em;
        letter-spacing: 0.08em;
        margin-bottom: 0.6%;
        margin-left: -22%;
} 
} 
@media (min-width: 641px) and (max-width: 960px){
    .be_recruited{
        font-size: 5.8em;
        letter-spacing: 0.06em;
        margin-right: 15%;
} 
} 
@media (min-width: 961px){
    .be_recruited{
        font-size: 6.2em;
        letter-spacing: 0.05em;
        margin-left: -55.5%;
} 
} 
.play_college_sports{
    color: rgb(255, 255, 255);
    font-weight: bold;
}
@media (max-width: 640px){
    .play_college_sports{
        display:none;
  }
    .play_college_1{
        font-size: 5.7em;
        color: rgb(255, 255, 255);
        font-weight: bold;
        letter-spacing: 0.07em;
        margin: 3% 0 -2% 8%;
}
    .sports_1{
        width: 66%;
        font-size: 5.7em;
        color: rgb(255, 255, 255);
        font-weight: bold;
        letter-spacing: 0.07em;
        margin: 1.5% 0 25.5% 6%;
}
}
@media (min-width: 641px) and (max-width: 960px){
    .play_college_sports{
        display:none;
  } 
    .play_college_1{
        font-size: 5.3em;
        color: rgb(255, 255, 255);
        font-weight: bold;
        letter-spacing: 0.053em;
        margin: -1.6% 0 0 15%;
}
    .sports_1{
        font-size: 5.3em;
        color: rgb(255, 255, 255);
        font-weight: bold;
        letter-spacing: 0.047em;
        margin-top: -1.2%;
        margin-bottom: 38.1%;
        margin-right: 16%;
}
}
@media (min-width: 961px){
    .play_college_sports{
        font-size: 5.6em;
        letter-spacing: 0.053em;
        margin-top: -2.3%;
        margin-bottom: 12.6%;
        margin-left: 28.5%;
  }
    .play_college_1{
        display:none;
  }
    .sports_1{
        display:none;
}
}
    
.rectangle{
    display: flex;
    justify-content: center;
} 
@media (max-width: 640px){
    .rectangle{
        flex-wrap: wrap;
        font-size: 16px;
        width: 88%;
        margin-right: 0;
        margin-bottom: 15.1%;
}
}
@media (min-width: 641px) and (max-width: 960px){
    .rectangle{
        margin-bottom: 11%;
}   
}
@media (min-width: 961px){
    .rectangle{
        margin-bottom: 7.1%;
}   
}
.clic_1, .clic_2{
                display: flex;
              align-items: center;
    border-radius: 3rem;
    background-color: rgb(94, 66, 176);
}
@media (max-width: 640px){
    .clic_1{
        width: 100%;
        margin-bottom: 5.2%;
}
    .clic_2{
        width: 100%;
        margin-bottom: 5.2%;
}
}
@media (min-width: 641px) and (max-width: 960px){
    .clic_1{
        margin-left: 7.5%;
        margin-right: %;
        max-width: 40.5%;
}
    .clic_2{
        margin-left: 4%;
        margin-right: 7.4%;
        max-width: 40.5%;
}
}
@media (min-width: 961px){
    .clic_1{
        margin-right: 25px;
        /*max-width: 37.5%;*/
}
    .clic_2{
        margin-left: 32px;
        /*max-width: 37.5%;*/
}
}
.clic_1:hover, .clic_2:hover {
    background-color: #8a65f5;
}
  a.apple, a.google{
    display: flex; 
    flex-wrap: nowrap;
    align-items: center;
    text-decoration: none;
}
@media (max-width: 640px){
    a.apple, a.google{
        line-height: 0.7;
        margin-top: 0.5%;
}
}
@media (min-width: 641px) and (max-width: 960px){
    a.apple, a.google{
        margin-top: 4%;
}
}
@media (min-width: 961px){
    a .apple, a .google{
}
}
@media (min-width: 961px){
    .clic{
        margin-top: 10px;
        margin-bottom: 10px;
}
}

.icon_1, .icon_2{
    fill: #ffffff;
}
@media (max-width: 640px){
    .icon_1{
        width: 8.4%;
        margin: 1% 2% 0 28.7%; 
}
}
@media (min-width: 641px) and (max-width: 960px){
    .icon_1{
        width: 14%;
        margin: 1% 6.8% 0 12.1%;
}
}
@media (min-width: 961px){
    .icon_1{
    width: 50px;
    margin-right: 21px;
    margin-left: 33px;
}
}
@media (max-width: 640px){
    .icon_2{
        width: 9%;
        margin: 1% 2% 0 28.7%;
}
}
@media (min-width: 641px) and (max-width: 960px){
    .icon_2{
        width: 15%;
        margin: 1.6% 7% 0 17.3%;
}
}
@media (min-width: 961px){
    .icon_2{
        width: 46px;
        margin-right: 26px;
        margin-left: 45px;
        margin-top: 6px;
}
}
@media (min-width: 961px){
    .box_apple{
        display: flex;
        flex-direction: column;
        width: 206px;  
}
}
@media (min-width: 961px){
    .box_google{
        display: flex;
        flex-direction: column;
        width: 186px;  
}
}
.download_on_the{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}
@media (max-width: 640px){
    .download_on_the{
        font-size: 0.5em;
        letter-spacing: 0.07em;
        word-spacing: -0.1em;
}
}
@media (min-width: 641px) and (max-width: 960px){
    .download_on_the{
        font-size: 0.95rem;
}   
}
@media (min-width: 961px){
    .download_on_the{
        font-size: 0.86rem;
        letter-spacing: 0.05rem;
        margin-top: 5px;
}
}
.app_store{
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
}
@media (max-width: 640px){
    .app_store{
        font-size: 0.5em;
        letter-spacing: 0.08em;
        margin-left: 41%;
}
}
@media (min-width: 641px) and (max-width: 960px){
    .app_store{
        font-size: 0.83rem;
        margin-left: 34%;
}
}
@media (min-width: 961px){
    .app_store{
        font-size: 0.85rem;
        letter-spacing: 0.045rem;
}
}
.get_it_on{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}
@media (max-width: 640px){
    .get_it_on{
        font-size: 0.5em;
        letter-spacing: 0.07em;
        word-spacing: -0.1em;
}
}
@media (min-width: 641px) and (max-width: 960px){
    .get_it_on{
        font-size: 0.9rem;
        word-spacing: -0.09rem;
        letter-spacing: 0.05rem;
}
}
@media (min-width: 961px){
    .get_it_on{
      font-size: 0.8rem;
    letter-spacing: 0.08rem;
}
}
.google_play{
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
}
@media (max-width: 640px){
    .google_play{
        font-size: 0.5em;
        letter-spacing: 0.08em;
        margin-left: 41%;
}
}
@media (min-width: 641px) and (max-width: 960px){
    .google_play{
        line-height: 1;
        font-size: 0.83rem;
        letter-spacing: 0.05rem;
        margin-left: 40%;
}
}
@media (min-width: 961px){
    .google_play{
   font-size: 0.85rem;
        letter-spacing: 0.055rem;
}
}




.wrapper{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
}

.connection_block, .collaboration_block, .growth_block{
    width: 100%;
    height:auto;
}
.collaboration_block{
    background-color: #f6f4fa; 
}
.growth_block{
    background-color: #5e42b0;
}
.athlets, .collaboration, .growth{
    display: flex;  
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 100%;
}
@media (min-width: 961px){
    .athlets, .collaboration, .growth{
        max-width: 1560px;
}
}
.rectangle_athlets, .rectangle_collaboration, rectangle_growth{
    display: flex;
    flex-direction: column;
}
@media (max-width: 640px){
    .rectangle_athlets{
        margin-bottom: 11%;
}
}
@media (min-width: 641px) and (max-width: 960px){
    .rectangle_athlets{
        margin-left: 38%;
}
}
@media (min-width: 961px){
    .rectangle_athlets{
        margin-bottom: 2.6%;
        margin-left: 51%;
}
}
@media (max-width: 640px){
    .rectangle_collaboration{
        margin-bottom: 10.5%;
}
}
@media (min-width: 641px) and (max-width: 960px){
    .rectangle_collaboration{
        margin-left: 38%;
        margin-bottom: 2.5%;
}
}
@media (min-width: 961px){
    .rectangle_collaboration{
        margin-bottom: 2.5%;
        margin-left: 53%;
}
}
@media (max-width: 640px){
    .rectangle_growth{
        margin-bottom: 11.5%;
}
}
@media (min-width: 641px) and (max-width: 960px){
    .rectangle_growth{
        margin-left: 38%;
        margin-bottom: 5.5%;
}
}
@media (min-width: 961px){
    .rectangle_growth{
        margin-bottom: 5.3%;
        margin-left: 53%;
}
}
 .athlets_players {
    color: rgb(231, 231, 231);
    font-weight: bold;
    -moz-transform: matrix( 0.90802474337351,0,0,0.90802474337351,0,0);
    -webkit-transform: matrix( 0.90802474337351,0,0,0.90802474337351,0,0);
    -ms-transform: matrix( 0.90802474337351,0,0,0.90802474337351,0,0);    
}
@media (max-width: 640px){
    h2.athlets_players{
        font-size: 3.5rem;
        letter-spacing: 0.05rem;
        margin-top: 0;
}
}
@media (min-width: 641px) and (max-width: 960px){
    h2.athlets_players {
        font-size: 5.2rem;
        letter-spacing: 0.16rem;
        margin-top: 12%;
        margin-left: -5%;
        margin-bottom: 0;
}
}
@media (min-width: 961px){
    h2.athlets_players {
        font-size: 5.5rem;
        letter-spacing: rem;
        margin-top: 12.1%;
        margin-bottom: 0;
        margin-left: -5%;
}
}
.wrapper_subgect{
    display: flex;
    position: relative;
}
@media (max-width: 640px){
    .athlets .wrapper_subgect{
        margin-top: 71.5%;
}
}
.number {
    position: absolute;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
}
@media (max-width: 640px){
    .rectangle_athlets .number{
        font-size: 0.85rem;
        margin-top: 10.5%;
        margin-left: 7%;
}
}
@media (min-width: 641px) and (max-width: 960px){
    .rectangle_athlets .number {
        font-size: 1.2rem;
        margin-top: 5.6%;
}
}
@media (min-width: 961px){
    .rectangle_athlets .number {
        font-size: 1.2rem;
        margin-top: 8.3%;
}
    .rectangle_athlets .number:after {
        width: 1.2rem;
        height: 0.3rem;
}
}
@media (max-width: 640px){
    .rectangle_collaboration .number{
        margin-top: 18%;
        font-size: 0.9rem;
        margin-left: 6.5%;
}
}
@media (min-width: 641px) and (max-width: 960px){
    .rectangle_collaboration .number {
        font-size: 1.2rem;
        margin-top: 14%;
}
}
@media (min-width: 961px){
    .rectangle_collaboration .number{
        font-size: 1.2rem;
        margin-top: 7.8%;
        margin-left: 0.3%;      
}
    .rectangle_collaboration .number:after {
        width: 1.4rem;
        height: 0.3rem;
}
}
.number:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 2px;
    background-color: rgb(94, 66, 176);
}
.number_3 {
    position: absolute;
    color: rgb(10, 14, 52);
    font-weight: bold;
    text-transform: uppercase;
}
@media (max-width: 640px){
    .number_3{
        margin-top: 17.5%;
        font-size: 0.9rem;
        margin-left: 6.5%;
}
}
@media (min-width: 641px) and (max-width: 960px){
    .number_3 {
        font-size: 1.1rem;
        margin-top: 7%;
}
}
@media (min-width: 961px){
    .number_3 {
        font-size: 1.2rem;
        margin-top: 11.5%;
        margin-left: 0.3%;
}
}
.number_3:after {
    position: absolute;
    content: "";
    display: block;
    border-radius: 2px;
    background-color: rgb(239, 239, 239);
    width: 1.3rem;
    height: 0.3rem;
    margin-top: 2.5%;
}
h3{
    color: rgb(193, 193, 193);
    text-transform: uppercase;
}
@media (max-width: 640px){
    .athlets h3{
        font-size: 1.7rem;
        letter-spacing: 0.12rem;
        margin-bottom: 4%;
        margin-left: 14%;
}
}
@media (min-width: 641px) and (max-width: 960px){
    .athlets h3{
        font-size: 1.8rem;
        letter-spacing: 0.22rem;
        margin-left: 7.2%;
        margin-top: 5.8%;
        margin-bottom: 0;
}
}
@media (min-width: 961px){
   .athlets h3{
        font-size: 2.2rem;
        letter-spacing: 0.16rem;
        margin-left: 4%;
        margin-top: 7.4%;
        margin-bottom: 5%;
}
}
@media (max-width: 640px){
    .collaboration h3{
        font-size: 1.7rem;
        letter-spacing: 0.12rem;
        margin-top: 15.5%;
        margin-left: 14%;
        margin-bottom: 0;
}
}
@media (min-width: 641px) and (max-width: 960px){
    .collaboration h3{
        font-size: 1.8rem;
        letter-spacing: 0.23rem;
        margin-left: 6.5%;
        margin-top: 14%;
        margin-bottom: 0;
}
}
@media (min-width: 961px){
   .collaboration h3{
        font-size: 2.2rem;
        letter-spacing: 0.14rem;
        margin-left: 4.6%;
        margin-top: 7.1%;
        margin-bottom: 5%;
}
}
@media (max-width: 640px){
    .growth h3{
        font-size: 1.7rem;
        letter-spacing: 0.12rem;
        margin-top: 15%;
        margin-bottom: 5%;
        margin-left: 14%;
}
}
@media (min-width: 641px) and (max-width: 960px){
    .growth h3{
        font-size: 1.8rem;
        letter-spacing: 0.27rem;
        margin-left: 6%;
        margin-top: 7%;
        margin-bottom: 0;
}
}
@media (min-width: 961px){
   .growth h3{
        font-size: 2.22rem;
        letter-spacing: 0.128rem;
        margin-left: 4.5%;
        margin-top: 10.6%;
        margin-bottom: 5%;
}
} 
.athlets p, .collaboration p, .growth p{
    color: rgb(0, 0, 0);
}
@media (max-width: 640px){
    .athlets p{
        font-size: 0.9rem;
        letter-spacing: 0.068rem;
        margin-top: 0.7%;
        margin-left: 6.5%;
}
}
@media (min-width: 641px) and (max-width: 960px){
    .athlets p{
        font-size: 1rem;
        letter-spacing: 0.05rem;
        margin-top: 4%;
}
}
@media (min-width: 961px){
    .athlets p{
        font-size: 1.23rem;
        letter-spacing: 0.073rem;
        margin-top: -2.9%;
}
}
@media (max-width: 640px){
    .collaboration p{
        font-size: 0.9rem;
        letter-spacing: 0.067rem;
        margin-left: 6%;
}
}
@media (min-width: 641px) and (max-width: 960px){
    .collaboration p{
        font-size: 0.96rem;
        letter-spacing: 0.093rem;
        line-height: 1.85;
        margin-top: 3.8%;
}
}
@media (min-width: 961px){
    .collaboration p{
        font-size: 1.23rem;
        letter-spacing: 0.07rem;
        margin-top: -2.7%;
}
}
@media (max-width: 640px){
    .growth p{
        font-size: 0.9rem;
        letter-spacing: 0.07rem;
        margin-top: 0;
        margin-left: 6%;
}
}
@media (min-width: 641px) and (max-width: 960px){
    .growth p{
        font-size: 0.96rem;
        letter-spacing: 0.065rem;
        line-height: 1.8;
        margin-top: 4.3%;
}
}
@media (min-width: 961px){
    .growth p{
        font-size: 1.23rem;
        letter-spacing: 0.07rem;
        margin-top: -3%;
        margin-right: 10%;
}
}
.images_footballer {
     position: absolute; 
}
@media (max-width: 640px){
    .images_footballer{
        width: 53%;
        height:100%;
        top: 8%;
        left:22%;
}
}
@media (min-width: 641px) and (max-width: 960px){
    .images_footballer{
        width: 53%;
        height:100%;
        top: 11.8%;
        left:-21%;
}
}
@media (min-width: 961px){
.images_footballer {
    left: 16.6%;
    top: -1.2%;
}
}




.connection_2_block, .collaboration_2_block, .growth_2_block{
    width: 100%;
    height:auto;
}
.collaboration_2_block{
    background-color: #f6f4fa;
}
.growth_2_block{
    background-color: #0a0e34;
}
.players, .collaboration_2, .growth_2{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}
@media (min-width: 961px){
    .players, .collaboration_2, .growth_2{
        max-width: 1560px;
}
}
.rectangle_players, .rectangle_collaboration_2, rectangle_growth_2{
    display: flex;
    flex-direction: column;
}
@media (max-width: 640px){
    .rectangle_players{
        margin-bottom: 11%;
}
}
@media (min-width: 641px) and (max-width: 960px){
    .rectangle_players{
        margin-right: 38%;
}
}

@media (min-width: 961px){
    .rectangle_players{
        margin-right: 28.35%;
        margin-bottom: 3.1%;
}
}
@media (max-width: 640px){
    .rectangle_collaboration_2{
        margin-bottom: 10.5%;
}
}
@media (min-width: 641px) and (max-width: 960px){
    .rectangle_collaboration_2{
        margin-bottom: 2.5%;
        margin-right: 38%;
}
}
@media (min-width: 961px){
    .rectangle_collaboration_2{
        margin-bottom: 3.05%;
        margin-right: 26%;
}
}
@media (max-width: 640px){
    .rectangle_growth_2{
        margin-bottom: 11.5%;
}
}
@media (min-width: 641px) and (max-width: 960px){
    .rectangle_growth_2{
        margin-bottom: 5.4%;
        margin-right: 25%;
}
}
@media (min-width: 961px){
    .rectangle_growth_2{
        margin-bottom: 4.6%;
        margin-right: 26%;
}
}
 .athlets_players_2 {
    color: rgb(231, 231, 231);
    font-weight: bold;
    -moz-transform: matrix( 0.90802474337351,0,0,0.90802474337351,0,0);
    -webkit-transform: matrix( 0.90802474337351,0,0,0.90802474337351,0,0);
    -ms-transform: matrix( 0.90802474337351,0,0,0.90802474337351,0,0);    
}
@media (max-width: 640px){
    h2.athlets_players_2{
        font-size: 3.5rem;
        letter-spacing: 0.05rem;
        margin-top: 0;
}
}
@media (min-width: 641px) and (max-width: 960px){
    h2.athlets_players_2 {
        font-size: 5.2rem;
        letter-spacing: 0.16rem;
        margin-top: 12%;
        margin-left: -5%;
        margin-bottom: 0;
}
}
@media (min-width: 961px){
    h2.athlets_players_2 {
        font-size: 5.5rem;
        margin-top: 7.5%;
        margin-bottom: 0;
        margin-left: 7.8%;
}
}
@media (max-width: 640px){
    .players .wrapper_subgect{
        margin-top: 71.5%;
}
}
@media (max-width: 640px){
    .rectangle_players .number{
        font-size: 0.85rem;
        margin-top: 10.5%;
        margin-left: 7%;
}
}
@media (min-width: 641px) and (max-width: 960px){
    .rectangle_players .number {
        font-size: 1.2rem;
        margin-top: 5.6%;
}
}
@media (min-width: 961px){
    .rectangle_players .number {
        font-size: 1.19rem;
        margin-top: 5%;
        margin-left: 12.7%;
}
    .rectangle_players .number:after {
        width: 1.25rem;
        height: 0.3rem;
        margin-top: 5%;
        margin-left: 6%;
}
}
@media (max-width: 640px){
    .rectangle_collaboration_2 .number{
        margin-top: 18%;
        font-size: 0.9rem;
        margin-left: 6.5%;
}
}
@media (min-width: 641px) and (max-width: 960px){
    .rectangle_collaboration_2 .number {
        font-size: 1.2rem;
        margin-top: 14%;
}
}
@media (min-width: 961px){
    .rectangle_collaboration_2 .number{
        font-size: 1.18rem;
        margin-top: 4.92%;
        margin-left: 12.42%;
}
    .rectangle_collaboration_2 .number:after{
        width: 1.4rem;
        height: 0.3rem;
}
    @media (max-width: 640px){
    .growth_2 .number_3{
        margin-top: 18%;
        font-size: 0.9rem;
        margin-left: 6.5%;
}
}
@media (min-width: 641px) and (max-width: 960px){
    .growth_2 .number_3 {
        font-size: 1.2rem;
        margin-top: 14%;
}
}
@media (min-width: 961px){
    .growth_2 .number_3{
        font-family: "Open Sans";
        color: #9173e6;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1.18rem;
        margin-top: 8%;
        margin-left: 12.42%;
}
.growth_2 .number_3:after{
    color: rgb(239, 239, 239);
    width: 1.4rem;
    height: 0.3rem;
}
@media (max-width: 640px){
    .players h3{
        font-size: 1.7rem;
        letter-spacing: 0.12rem;
        margin-bottom: 4%;
        margin-left: 14%;
}
}
@media (min-width: 641px) and (max-width: 960px){
    .players h3{
        font-size: 1.8rem;
        letter-spacing: 0.22rem;
        margin-left: 7.2%;
        margin-top: 5.8%;
        margin-bottom: 0;
}
}
@media (min-width: 961px){
   .players h3{
        font-size: 2.2rem;
        letter-spacing: 0.147rem;
        margin-top: 4.45%;
        margin-bottom: 0;
        margin-left: 15.12%;
}
}
@media (max-width: 640px){
    .collaboration_2 h3{
        font-size: 1.7rem;
        letter-spacing: 0.12rem;
        margin-bottom: 4%;
        margin-left: 14%;
}
}
@media (min-width: 641px) and (max-width: 960px){
    .collaboration_2 h3{
        font-size: 1.8rem;
        letter-spacing: 0.22rem;
        margin-left: 7.2%;
        margin-top: 5.8%;
        margin-bottom: 0;
}
}
@media (min-width: 961px){
   .collaboration_2 h3{
        font-size: 2.2rem;
        letter-spacing: 0.147rem;
        margin-top: 4.45%;
        margin-bottom: 0;
        margin-left: 15.12%;
}
}
@media (max-width: 640px){
    .growth_2 h3{
        font-size: 1.7rem;
        letter-spacing: 0.12rem;
        margin-bottom: 4%;
        margin-left: 14%;
}
}
@media (min-width: 641px) and (max-width: 960px){
   .growth_2 h3{
        font-size: 1.8rem;
        letter-spacing: 0.22rem;
        margin-left: 7.2%;
        margin-top: 5.8%;
        margin-bottom: 0;
}
}
@media (min-width: 961px){
   .growth_2 h3{
        font-size: 2.21rem;
        letter-spacing: 0.147rem;
        margin-top: 7.5%;
        margin-bottom: 0;
        margin-left: 14.8%;
}
}
@media (max-width: 640px){
    .players p{
        font-size: 0.9rem;
        letter-spacing: 0.068rem;
        margin-top: 0.7%;
        margin-left: 6.5%;
}
}
@media (min-width: 641px) and (max-width: 960px){
    .players p{
        font-size: 1rem;
        letter-spacing: 0.05rem;
        margin-top: 4%;
}
}
@media (min-width: 961px){
    .players p{
        font-size: 1.29rem;
        letter-spacing: 0.05rem;
        margin-top: 1.4%;
        margin-right: 29%;
        margin-left: 12.7%;
}
}
@media (max-width: 640px){
  .collaboration_2 p{
        font-size: 0.9rem;
        letter-spacing: 0.068rem;
        margin-top: 0.7%;
        margin-left: 6.5%;
}
}
@media (min-width: 641px) and (max-width: 960px){
  .collaboration_2 p{
        font-size: 1rem;
        letter-spacing: 0.05rem;
        margin-top: 4%;
}
}
@media (min-width: 961px){
    .collaboration_2 p{
        font-size: 1.31rem;
        letter-spacing: 0.01rem;
        margin-top: 2.1%;
        margin-right: 35%;
        margin-left: 12.4%
}
}
@media (max-width: 640px){
  .growth_2 p{
        font-size: 0.9rem;
        letter-spacing: 0.068rem;
        margin-top: 0.7%;
        margin-left: 6.5%;
}
}
@media (min-width: 641px) and (max-width: 960px){
  .growth_2 p{
        font-size: 1rem;
        letter-spacing: 0.05rem;
        margin-top: 4%;
}
}
@media (min-width: 961px){
    .growth_2 p{
        font-size: 1.31rem;
        color: rgb(193, 193, 193);
        letter-spacing: 0.01rem;
        margin-top: 1.2%;
        margin-right: 35%;
        margin-left: 12.4%;
}
}
.images_player{
    position: absolute;
    }
@media (max-width: 640px){
  .images_player{
        width: 53%;
        height:100%;
        top: 8%;
        left:22%;
}
}
@media (min-width: 641px) and (max-width: 960px){
   .images_player{
        width: 53%;
        height:100%;
        top: 11.8%;
        left:-21%;
}
}
@media (min-width: 961px){
    .images_player {
        left: 42%;
        top: -3%;
}
}
.cross_1{
      color: rgb(94, 66, 176);
        position: absolute;
        font-size: 1.65rem;
        left: 57.29%;
        top: 9%;
}
.cross_2{
        color: rgb(145, 115, 230);
        position: absolute;
        font-size: 1.65rem;
        left: 58.5%;
        top: 11%;
}
.cross_3{
        color: rgb(94, 66, 176);
        position: absolute;
        font-size: 1.65rem;
        left: 82.15%;
        top: 36.6%;
}
}
    
    
.be_active{
   /* position: relative;*/
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0
} 
        .images_be_active{
     /* position: absolute;
      left: 0;*/
          background-image: url(./img/be_active_desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
       width: 50%;
        height: 730px;
}
@media (min-width: 961px){
    .images_be_active{
       /* position: absolute;
        left: 0;*/
        background-image: url(./img/be_active_desktop.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 50%;
        height: 730px;
}
}   
        .rectangle_be_active{
        position: relative;
        display: flex;
        flex-direction: column;
        /*margin-left: auto;
        margin-right: auto;*/
        max-width: 780px;
       /* margin-bottom: 17.3%;*/
}
@media (min-width: 961px){
    .rectangle_be_active{
        position: relative;
        display: flex;
        flex-direction: column;
        /*margin-left: auto;
        margin-right: auto;*/
        max-width: 780px;
       /* margin-bottom: 17.3%;*/
}
} 
        .be_active h2{
     font-size: 5.5rem;
    font-family: "Open Sans";
    color: rgba(193, 193, 193, 0.4);
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 29%;
    margin-left: 11.6%;
        -moz-transform: matrix( 0.90802474337351,0,0,0.90802474337351,0,0);
        -webkit-transform: matrix( 0.90802474337351,0,0,0.90802474337351,0,0);
        -ms-transform: matrix( 0.90802474337351,0,0,0.90802474337351,0,0);
}
@media (min-width: 961px){
    .be_active h2{
        font-size: 5.5rem;
        font-family: "Open Sans";
        color: rgba(193, 193, 193, 0.4);
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 29%;
        margin-left: 11.6%;
        -moz-transform: matrix( 0.90802474337351,0,0,0.90802474337351,0,0);
        -webkit-transform: matrix( 0.90802474337351,0,0,0.90802474337351,0,0);
        -ms-transform: matrix( 0.90802474337351,0,0,0.90802474337351,0,0);
}
}
        /*.rectangle_be_active p{
        font-size: 1.45rem;
        letter-spacing: 0.1rem;
        margin-top: 0.6%;
        margin-right: 17%;
        margin-left: 58.1%;
}*/
@media (min-width: 961px){
    .rectangle_be_active p{
        font-size: 1.45rem;
        letter-spacing: 0.1rem;
        margin-top: 1%;
        margin-right: 33%;
        margin-left: 16.2%;
}
} 
        .square_be_active{
    display: flex;
    position: absolute;
    background-color: rgb(94, 66, 176);
    width: 10.5rem;
    height: 9.7rem;
    top: 28.6%;
    left: -10.8%;                 
}
@media (min-width: 961px){
    .square_be_active{
        display: flex;
        position: absolute;
        background-color: rgb(94, 66, 176);
        width: 10.5rem;
        height: 9.7rem;
        top: 28.6%;
        left: -10.8%;                 
}
}
.number_square_be_active{
    font-size: 1.5rem;
    font-family: "Open Sans";
    color: rgb(245, 246, 247);
    font-weight: bold;
    text-transform: uppercase;
    margin: auto; 
    padding-bottom: 4%; 
}
.number_square_be_active:after {
    content: "";
    display: block;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    opacity: 0.302;
    width: 1.4rem;
    height: 0.3rem;
    margin-top: 15%;
    margin-left: 9%;
}

    
    
    
.find_contact{
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0
} 
.images_find_contact{
   background-image: url(./img/find_contact_1_desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 730px;
}
@media (min-width: 961px){
    .images_find_contact{
        background-image: url(./img/find_contact_1_desktop.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 50%;
        height: 730px;
}
}   
.rectangle_find_contact{
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 780px;
}
@media (min-width: 961px){
    .rectangle_find_contact{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 780px;
        max-width:50%; 
}
} 
.find_contact h2{
    font-size: 5.5rem;
    font-family: "Open Sans";
    color: rgba(193, 193, 193, 0.4);
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 29%;
    -moz-transform: matrix( 0.90802474337351,0,0,0.90802474337351,0,0);
    -webkit-transform: matrix( 0.90802474337351,0,0,0.90802474337351,0,0);
    -ms-transform: matrix( 0.90802474337351,0,0,0.90802474337351,0,0);
}
@media (min-width: 961px){
    .find_contact h2{
        font-size: 5.5rem;
        font-family: "Open Sans";
        color: rgba(193, 193, 193, 0.4);
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 29%;
        /*margin-left: 11.6%;*/
        -moz-transform: matrix( 0.90802474337351,0,0,0.90802474337351,0,0);
        -webkit-transform: matrix( 0.90802474337351,0,0,0.90802474337351,0,0);
        -ms-transform: matrix( 0.90802474337351,0,0,0.90802474337351,0,0);
}
}
@media (min-width: 961px){
    .rectangle_find_contact p{
        font-size: 1.45rem;
        letter-spacing: 0.1rem;
        margin-top: 1%;
        margin-right: 33%;
        margin-left: 16.2%;
}
} 
        .square_find_contact{
    display: flex;
    position: absolute;
    background-color: rgb(94, 66, 176);
    width: 10.5rem;
    height: 9.7rem;
    top: 28.6%;
    left: -10.8%;                 
}
@media (min-width: 961px){
    .square_find_contact{
        display: flex;
        position: absolute;
        background-color: rgb(94, 66, 176);
        width: 10.5rem;
        height: 9.7rem;
        top: 28.6%;
        left: -10.8%;                 
}
}
.number_square_find_contact{
    font-size: 1.5rem;
    font-family: "Open Sans";
    color: rgb(245, 246, 247);
    font-weight: bold;
    text-transform: uppercase;
    margin: auto; 
    padding-bottom: 4%; 
}
.number_square_find_contact:after {
    content: "";
    display: block;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    opacity: 0.302;
    width: 1.4rem;
    height: 0.3rem;
    margin-top: 15%;
    margin-left: 9%;
}
    
    
.workt_it{
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0
} 
.images_workt_it{
    background-image: url(./img/work_it_desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 730px;
}
@media (min-width: 961px){
    .images_workt_it{
        background-image: url(./img/work_it_desktop.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 50%;
        height: 730px;
}
}   
.rectangle_workt_it{
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 780px;
}
@media (min-width: 961px){
    .rectangle_workt_it{
        position: relative;
        display: flex;
        flex-direction: column;
        max-width: 780px;
}
} 
.workt_it h2{
    font-size: 5.5rem;
    font-family: "Open Sans";
    color: rgba(193, 193, 193, 0.4);
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 29%;
    margin-left: 11.6%;
    -moz-transform: matrix( 0.90802474337351,0,0,0.90802474337351,0,0);
    -webkit-transform: matrix( 0.90802474337351,0,0,0.90802474337351,0,0);
    -ms-transform: matrix( 0.90802474337351,0,0,0.90802474337351,0,0);
}
@media (min-width: 961px){
    .workt_it h2{
        font-size: 5.5rem;
        font-family: "Open Sans";
        color: rgba(193, 193, 193, 0.4);
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 29%;
        margin-left: 11.6%;
        -moz-transform: matrix( 0.90802474337351,0,0,0.90802474337351,0,0);
        -webkit-transform: matrix( 0.90802474337351,0,0,0.90802474337351,0,0);
        -ms-transform: matrix( 0.90802474337351,0,0,0.90802474337351,0,0);
}
}
        /*.rectangle_be_active p{
        font-size: 1.45rem;
        letter-spacing: 0.1rem;
        margin-top: 0.6%;
        margin-right: 17%;
        margin-left: 58.1%;
}*/
@media (min-width: 961px){
    .rectangle_workt_it p{
        font-size: 1.45rem;
        letter-spacing: 0.1rem;
        margin-top: 1%;
        margin-right: 33%;
        margin-left: 16.2%;
}
} 
.square_workt_it{
    display: flex;
    position: absolute;
    background-color: rgb(94, 66, 176);
    width: 10.5rem;
    height: 9.7rem;
    top: 28.6%;
    left: -10.8%;                 
}
@media (min-width: 961px){
    .square_workt_it{
        display: flex;
        position: absolute;
        background-color: rgb(94, 66, 176);
        width: 10.5rem;
        height: 9.7rem;
        top: 28.6%;
        left: -10.8%;                 
}
}
.number_square_workt_it{
    font-size: 1.5rem;
    font-family: "Open Sans";
    color: rgb(245, 246, 247);
    font-weight: bold;
    text-transform: uppercase;
    margin: auto; 
    padding-bottom: 4%; 
}
.number_square_workt_it:after {
    content: "";
    display: block;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    opacity: 0.302;
    width: 1.4rem;
    height: 0.3rem;
    margin-top: 15%;
    margin-left: 9%;
}